<div>
    <form name="$ctrl.playlistForm" ng-submit="$ctrl.save()" novalidate>

        <!-- <pre>{{$ctrl.playlistForm.$error | json}}</pre> -->
        <!-- {{$ctrl.playlistForm.$submitted}} -->

        <style>
            form.ng-submitted .ng-invalid,
            form .ng-invalid.ng-touched,
            form .ng-invalid.ng-dirty {
                border: 2px solid red;
            }
        </style>

        <div class="form-group">
            <label>Name:</label>
            <input type="text" class="form-control" ng-model="$ctrl.draft.name" name="name" 
                 ng-required="true" ng-minlength="3" ng-pattern=" '^[a-zA-Z].*' ">

            <!-- <div ng-if="$ctrl.playlistForm.$submitted || $ctrl.playlistForm.name.$touched || $ctrl.playlistForm.name.$dirty">
                <p ng-if="$ctrl.playlistForm.name.$error.required">Name is required</p>
                <p ng-if="$ctrl.playlistForm.name.$error.minlength">Miminum length is 3</p>
                <p ng-if="$ctrl.playlistForm.name.$error.pattern">Must start with a letter</p>
            </div> -->

            <div ng-messages="$ctrl.playlistForm.name.$error">
                <p ng-message="required">Name is required</p>
                <p ng-message="batman">Nananananana Batman!</p>
                <p ng-message="minlength">Miminum length is 3</p>
                <p ng-message="pattern">Must start with a letter</p>
            </div>
        </div>

        <div class="form-group">
            <label>Favorite:</label>
            <input type="checkbox" ng-model="$ctrl.draft.favorite" name="favorite">
        </div>

        <div class="form-group">
            <label>Color:</label>
            <input type="color" ng-model="$ctrl.draft.color" name="color">
        </div>

        <input type="button" value="Cancel" ng-click="$ctrl.onCancel()">
        <input type="submit" value="Save">
        <input type="button" value="Create new" ng-click="$ctrl.createNew()">
    </form>
</div>