<div ng-controller="PlaylistsCtrl as placki" >
  
  <div class="row">
    <div class="col">
        <playlists-list 
          items="placki.playlists"
          selected="placki.state.selected"
          on-select="placki.select(playlist)"
        ></playlists-list>
        
    </div>
    <div class="col">
      
        <ui-view></ui-view>

    </div>
  </div>

</div>

<!-- 
<div ng-controller="x = new PlaylistsCtrl">
  <div ng-controller="y = new PlaylistsCtrl">
    <div ng-init=" x.sayHelloTo(y) "

    <input type="text" ng-model="x.vm.selected.name">
    <input type="text" ng-model="y.vm.selected.name">

  </div>
</div> -->