<dl>
          <dt>Name:</dt>
          <dd>{{playlist.name}}</dd>
          <dt>Favorite:</dt>
          <dd>{{playlist.favorite? 'Yes':'No'}}</dd>
          <dt>Color:</dt>
          <dd ng-style="{
                                        color: playlist.color,
                                        backgroundColor: playlist.color    
                                    }">{{playlist.color}}</dd>
        </dl>
        <input type="button" value="Edit" 
        ng-click="onEdit()">