<!-- https://getbootstrap.com/docs/4.3/
    components/card/#card-groups -->

<div class="card-group">
    <div class="card" ng-repeat="result in results">

        <img ng-src="{{result.images[0].url}}" class="card-img-top">

        <div class="card-body">
            <h5 class="card-title">{{result.name}}</h5>
        </div>
    </div>
</div>

<style>
    .card{
        max-width: 25%;
        min-width: 25%;
    }
</style>