<div ng-controller="SearchCtrl">

    <search-form 
        query="query"
        on-search="search(query)"
    ></search-form>

    <p>
        {{message}}
    </p>
    
    <search-results results="results">
    </search-results>

</div>