<!-- https://getbootstrap.com/docs/4.3/components/input-group/#button-addons -->


<div class="input-group mb-3">
    <input type="text" 
        autofocus="true"
        class="form-control" 
        ng-model="placki"
        placeholder="Search"
        ng-keyup="$event.key == 'Enter' && onSearch({query:placki})">


    <div class="input-group-append">
        <button 
            class="btn btn-outline-secondary" 
            type="button"
            ng-click="onSearch({query:placki})">
            Search
        </button>
    </div>
</div>
