<div class="list-group"  >


    <div class="list-group-item" 
        ng-click="select({playlist})" 

        ng-style=" { borderColor: hover? playlist.color : '' } "
       
        ng-mouseenter=" hover = 1"
        ng-mouseleave=" hover = 0"

        ng-class="{active: selected.id === playlist.id}"
        ng-repeat="(i,playlist) in playlists track by playlist.id">
        {{$index+1}}. {{playlist.name}} {{placki}}
    </div>

</div>

{{placki}}