<!-- https://getbootstrap.com/docs/4.3/components/navbar/#nav -->

<nav class="navbar navbar-expand navbar-dark bg-dark mb-3">
  <div class="container">

    <a class="navbar-brand" href="#">Music App</a>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">

        <li class="nav-item">
          <a class="nav-link"
          ui-sref-active="active"
          ui-sref="search">
            Search
          </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" 
          ui-sref-active="active"
          ui-sref="playlists">
            Playlists
          </a>
        </li>


      </ul>
    </div>
  </div>
</nav>