
  <input type="text" ng-model="zmienna">
  
  <input type="text" ng-on-input="zmienna =  $event.target.value" 
                     ng-value="zmienna">
  {{zmienna}}

  <button ng-click="zmienna = 'Placki' ">Reset</button>